.pokemon-cards {
    display: flex;
    flex-wrap: wrap;
}

.pok-card {
    border: 4px solid #fff;
    background-color: #EEEEEE;
    background: linear-gradient(#EDEAE1,#CDC8B5);
    text-align: center;
    box-shadow:
                0 5px 2px 3px rgba(158, 158, 158, 0.4),
                0 3px 5px #B7B6B6,
                0 0 0 2px #BBB7AE,
                inset 0 -3px 1px 2px rgba(186, 178, 165, 0.5),
                inset 0 3px 1px 2px rgba(246, 245, 241, 0.3);
    cursor: pointer;
    margin: 10px;
    height: calc(100% - 20px);
}

.pok-card > hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.selectedCard {
    border: 2px solid red;
    box-shadow: 0 3px 1px 2px rgba(223, 13, 31, 0.87),
    0 3px 3px #df1a19,
    0 0 0 2px #df2f19;
}

.label-font {
    font-size: 1.8rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.show-details-btn {
  margin: 10px;
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    40% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    50% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    65% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    40% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    50% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    65% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover {
    -webkit-animation: swing 0.5s ease;
    animation: swing 0.5s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

@media (max-width: 540px) {
  .pok-card-col {width: 100%;}

}

