<div class="container "> <!--col-sm-8 col-md-7 col-lg-7-->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 cl-lg-4"
             *ngFor="let pokemon of pokemons">
            <div class="thumbnail">
                <img class="img img-responsive img-rounded center-block"
                     src="../../assets/images/mock_pokemon.png" alt="pokemonImage"> <!--https://pokeapi.co/media/img/{{pokemon.id}}.png-->
                <h3>{{pokemon.name}}</h3>
                <hr/>
                <div>
                    <span class="label label-success">{{pokemon.types[0]}}</span>
                    <span class="label label-success">{{pokemon.types[1]}}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <span class="pokemon-id">#{{pokemon.id}}</span>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Load More</button>
    </div>
</div>

