@font-face {
    font-family: 'Pokedex';
    src: url('./assets/fonts/Pokemon_hollow.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pokedex';
    src: url('./assets/fonts/Pokemon_solid.ttf');
    font-weight: 900;
    font-style: normal;
}

.font-pokedex-700 {
    font-family: Pokedex;
    font-size: 4rem;
    color: black;
}

.font-pokedex-900 {
    font-family: Pokedex;
    font-size: 4rem;
    color: black;
}

.pokemon-id {
    font-size: 3rem;
}

.pok-name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

body {
    background: fixed url("assets/images/body_background.jpg");
    background-size: cover;
}

.navbar {
    top: 0;
    position: sticky;
    z-index: 2;
}

