.pokemon-info-block {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  background-color: #337ab7;
  border-color: #204d74;
}

#pok-table td {
  border: 2px solid #b1b496;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
  text-align: center;
}
