<pok-loader [loading]="loading"></pok-loader>
<div class="pokemon-info-block jumbotron">
  <div class="panel panel-default">

    <div class="panel-heading pok-name">
      <span class=""></span>
      <span class="pokemon-id">{{ pokemonToDisplay.name }}&nbsp;#{{ pokemonToDisplay.id }}</span> </div>
    <div class="panel-body">
      <img class="img img-responsive img-rounded center-block"
           src= "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemonToDisplay.id }}.png"
           alt="pokemonImage"
           width=75%>
    </div>

    <table id="pok-table" class="table">
      <tr>
        <td>Type</td>
        <td>{{ pokemonToDisplay.types[0] | capitalize }} {{ pokemonToDisplay.types[1] | capitalize }}</td>
      </tr>
      <tr>
        <td>Attack</td>
        <td>{{ pokemonToDisplay.attack }}</td>
      </tr>
      <tr>
        <td>Defense</td>
        <td>{{ pokemonToDisplay.defense }}</td>
      </tr>
      <tr>
        <td>HP</td>
        <td>{{ pokemonToDisplay.hp }}</td>
      </tr>
      <tr>
        <td>SP Attack</td>
        <td>{{ pokemonToDisplay.spAttack }}</td>
      </tr>
      <tr>
        <td>SP Defense</td>
        <td>{{ pokemonToDisplay.spDefense }}</td>
      </tr>
      <tr>
        <td>Speed</td>
        <td>{{ pokemonToDisplay.speed }}</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>{{ pokemonToDisplay.weight }}</td>
      </tr>
      <tr>
        <td>Total moves</td>
        <td>{{ pokemonToDisplay.totalMoves }}</td>
      </tr>
    </table>

  </div>
</div>